{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"@utils": "./src/utils",
					"@src": "./src",
					"@tests": "./tests"
				}
			},
			"@babel/plugin-transform-modules-commonjs"
		]
	]
}
