{
  "lint-staged": {
    "test/**/*.(spec|test).js": [
      "npm run test:unit"
    ],
    "src/**/*.js": [
      "eslint --fix",
      "prettier --write"
    ]
  },
  "hooks": {
    "pre-commit": "lint-staged"
  }
}